{% extends 'polls/base.html' %}
{% load static %}
{% block extra_css %}
<script src="https://code.jquery.com/jquery-3.2.1.js"
			  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			  crossorigin="anonymous"></script>
				<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/mono-blue.min.css">
				<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
				<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.1.0/highlightjs-line-numbers.min.js"></script>-->
				<link href="{% static "css/prism.css" %}" rel="stylesheet" />
				<link href="{% static "css/prism-line-numbers.css" %}" rel="stylesheet" />
				<script src="{% static "js/timeme.js" %}"></script>
				<script>hljs.initHighlightingOnLoad();</script>
<style>
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
/* for block of numbers */
td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: left;
	color: #ccc;
	border-right: 1px solid #CCC;
	vertical-align: top;
	padding-right: 5px;

	/* your custom style here */
}

/* for block of code */
td.hljs-ln-code {
	padding-left: 10px;
}
pre code {
    font-size: initial;
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.content pre {
padding-top: 0.25em;
padding-bottom: 0.25em;
}

.notification {
    padding: 0.25rem 2.5rem 0.25rem 1.5rem
}

.content {
    margin-bottom: 0em;
}
</style>
{% endblock %}

{% block section %}

  <div class="content">
    <p class="title">The following questions are based on the database schema below.</p>
    <p class="subtitle">Please study the schema carefully for few minutes.</p>
    <div class="notification">
      <pre class="line-numbers"><code class="language-sql">{{ program.code }}</code></pre>
    </div>
  </div>

  <div class="notification">
		<form action="{% url 'showProgramCode' %}" method="post">
			{% csrf_token %}
			<input type="hidden" class="input" type="text" name="programpk" value="{{ program.pk }}">
			<input type="hidden" class="input" type="text" name="programShowed" value="1">
			<input type="hidden" class="input" id="timer" type="text" name="time_duration" value="0">
			<div class="field is-grouped is-grouped-centered">
				<p class="control">
					<button type="submit" class="button is-link">Go to the questions</button>
			</div>
  </div>
{% endblock %}

{% block content %}
<script>
var currentTime;

//TimeMe.startTimer("my-activity");
  TimeMe.initialize({
    currentPageName: "my-home-page", // current page
			idleTimeoutInSeconds: 300 // seconds
  });

//currentTime = TimeMe.getTimeOnCurrentPageInSeconds();
//$(".timer").html(currentTime);

setInterval(function () {
      var currentTime = TimeMe.getTimeOnCurrentPageInMilliseconds();
      $("#timer").val(currentTime);
    }, 1);

</script>
<script src="{% static "js/prism.js" %}"></script>
<script src="{% static "js/prism-line-numbers.js" %}"></script>
{% endblock %}
